{% extends "base.html" %}

<!---Services with Images and Links---->

{% block content %}

<!---Page Content---->

<div class='description'>

<h1 class='heading'>	Mission and vision		</h1><br>

<div class='para'>

Our vision is to be the APEX body that will define the professional and ethical standards of and bring thought leadership to the investment management industry in Nepal.<br><br>

Our mission is to work towards the development of an investment management industry that is highly professional, rooted in strong ethics and uses the best practices for the benefit of the investor.<br><br>

We will accomplish this by working with all the stakeholders in investment management including regulators, the investment management industry, investment professionals and investors.<br>  


</div>
</div>

{% endblock %}